/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  text-align: center;
}
.container {
  background-color: #212121;
  color: white;
  height: 300vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
canvas {
  border: 5px solid rgb(250, 72, 7);
  background-color: whitesmoke;
  /* cursor: crosshair; */
  cursor: url(./assets/cursors/pencil-solid.svg) 0 30, pointer;
  touch-action: none;
}
.newTools {
  width: 10vw;
  height: 85vh;
  /* margin: 10px; */
  margin-top: 2%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(221, 214, 214);
  color: black;
  left: 1%;
  top: 1%;
  box-shadow: 2px 2px 2px black;
  position: fixed;
}
.drawings {
  display: flex;
  height: 75%;
}
.shapes,
.sketches,
.attributes {
  border: 2px solid black;
  margin-right: 2px;
}

.newTools .button {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  margin: 1px;
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: rgb(236, 233, 233);
}
.newTools button:active {
  transform: scale(0.9);
  color: orangered;
}
#line {
  width: 80%;
  height: 3px;
  background-color: black;
  margin: 5px;
}
.brush-size {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.5rem;
  /* text-align: center; */
}
.brush-size button {
  /* background-color: orange; */
  height: 30px;
  width: 30px;
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  border-radius: 50%;
}
.attributes {
  width: 100%;
  height: 18%;
  margin: 10px;
}
.attributes input,
.button {
  width: 100%;
}
.attributes button {
  font-size: 0.7rem;
  /* width: 40%; */
  /* height: 40%; */
  background-color: orangered;
  border-radius: 5px;
  margin: 5px;
  color: white;
}
.attributes button:hover {
  background-color: rgb(252, 12, 12);
}
.canvaOps {
  width: 100%;
  /* height: 70px; */
}
.canvaOps button {
  width: 45%;
  height: 100%;
  margin: 1px;
}
.canvaOps button:nth-child(1) {
  background-color: green;
}
#myCanvasDiv {
  background-color: blue;
  width: 100%;
  height: 100%;
}
#myCanvasDiv canvas {
  width: 100%;
  height: 100%;
  background-color: white;
}
small {
  position: fixed;
  right: 5px;
  bottom: 2%;
}
